/* >>>>>>>>>>>>>> Fields <<<<<<<<<<< */
#OceanAbout {
  background: var(--white);
  z-index: 15;
}

.sectionTwoContent {
  width: 90%;
  height: 70%;
  position: absolute;
  top: 3rem;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--seaBlue);
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
}

.sectionTwoContentAnimation {
  animation: OceanAboutOnLoad var(--standardRingAnimationTime) ease-in-out;
  animation-fill-mode: forwards;
}

.twoDarkWaves {
  width: 13rem;
  position: absolute;
  right: calc(50% - 18rem);
  bottom: 15rem;
  z-index: 10;
  opacity: 0;
}

.twoLightWaves {
  width: 20rem;
  position: absolute;
  right: calc(50% - 30rem);
  bottom: 5rem;
  z-index: 0;
  opacity: 0;
}

.lighterRingPosition {
  height: 80vh;
  width: 80vh;
  position: absolute;
  top: calc(50% - 40vh);
  left: calc(50% - 40vh);
}
.lighterRing {
  height: 80vh;
  width: 80vh;
  border-radius: 50%;
  position: relative;
  background: violet;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 5;
  transform: scale(0);
}

.centerRing {
  height: 55%;
  width: 55%;
  border-radius: 50%;
  background-color: var(--white);
  z-index: 8;
  transform: scale(0);
}

.lighterRingAnimationAnimation {
  animation: ringAnimation var(--standardRingAnimationTime) ease-in-out;
  animation-fill-mode: forwards;
}
.lighterRingAnimationAnimation .centerRing {
  animation: ringAnimation var(--standardRingAnimationTime) ease-in-out;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}

.innerWave {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: none;
}
/* // Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) {
  #OceanAbout {
    background: transparent;
    z-index: 10;
  }
  .sectionTwoContent {
    height: 40%;
    top: 3rem;
    z-index: 15;
  }

  .sectionTwoContent .seaButton {
    position: absolute;
    bottom: -20rem;
  }
  .twoDarkWaves {
    opacity: 1;
  }

  .twoLightWaves {
    opacity: 1;
  }

  .lighterRing {
    top: calc(50% - 35vh);
    left: calc(50% - 40vh);
  }
}

/* // Large devices (desktops, 992px and up)  */
@media (min-width: 992px) {
  .sectionTwoContent {
    width: 30%;
    height: 46%;
    top: calc(50% - 27%);
    left: calc(50% - 43%);
    letter-spacing: 0.1rem;
  }
  .sectionTwoContent .seaButton {
    bottom: -7rem;
  }
  .twoDarkWaves {
    width: 22rem;
    right: calc(50% - 35rem);
    bottom: calc(50% + 1rem);
  }

  .twoLightWaves {
    width: 27rem;
    right: calc(50% - 29rem);
    bottom: calc(50% - 23rem);
  }

  .lighterRing {
    height: 65vh;
    width: 65vh;
    top: calc(50% - 32.5vh);
    left: calc(50% - 32.5vh);
  }
}

/* // XX-Large devices (larger desktops, 1400px and up)  */
@media (min-width: 2000px) {
  .sectionTwoContent {
    height: 40%;
  }
  .sectionTwoContent .seaButton {
    bottom: -10rem;
  }
  .twoDarkWaves {
    width: 25rem;
    right: calc(50% - 45rem);
    bottom: calc(50% + 1rem);
  }

  .twoLightWaves {
    width: 57rem;
    right: calc(50% - 79rem);
    bottom: calc(50% - 43rem);
  }

  .lighterRing {
    height: 75vh;
    width: 75vh;
    top: calc(50% - 38.5vh);
    left: calc(50% - 38.5vh);
  }
}

/* >>>>>> About us animation */
@keyframes ringAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes OceanAboutOnLoad {
  0% {
    transform: translateX(5rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}