::placeholder {
  color: var(--black);
  font-size: 0.7em;
  font-weight: 200;
  font-style: italic;
}

#OceanContactUs {
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(to top, var(--seaPaleBlue) 50%, var(--white) 50%);
}
.fiveDefault {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
}

.fiveDarkWaves {
  width: 15rem;
  position: absolute;
  right: -1rem;
  top: 35rem;
  z-index: 10;
}

.sectionFiveContent {
  width: 90%;
  height: 20rem;
  position: absolute;
  top: 0rem;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--seaBlue);
  background: var(--white);
  font-family: 'Montserrat', sans-serif;
}
.toTop {
  position: absolute;
  right: 0;
  top: 10rem;
  transform: rotate(-90deg);
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  z-index: 15;
}

.toTop:hover {
  color: var(--seaRed);
}

/* >>>>>>>>>>>>> Circle vector  >>>>>>>>> */
.circlePosition {
  position: absolute;
  bottom: -14.8rem;
  left: -10rem;
}
.circleVideoVector {
  height: 90vh;
  width: 90vh;
  border-radius: 50%;
  position: relative;
  z-index: 5;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: circleVideoVectorAnimationMobile var(--standardAnimationTime) ease-in;
}

.circleVideo {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.paleBlueRing{
  background-color: var(--seaPaleBlue) !important;
  animation: ringAnimation var(--standardAnimationTime) ease-in-out;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}
/* >>>>>>>>>>>>>>>>>>>> Contact us <<<<<<<<<<<<<<<<<<<<<<< */

.seaContactUs {
  width: 0%;
  height: 100vh;
  position: relative;
  z-index: 15;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, var(--seaPaleBlue) 50%, var(--white) 50%);
  animation-fill-mode: forwards;
  transition: 0.5s;
}

.contactDarkWaves {
  width: 10rem;
  position: absolute;
  left: 18rem;
  bottom: 47rem;
  z-index: 16;
}

.contactLightWaves {
  width: 20rem;
  position: absolute;
  right: 7rem;
  bottom: calc(50% - 20rem);
}

.contactMeForm {
  width: 90%;
  height: 15rem;
  position: absolute;
  bottom: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contactMeForm input {
  width: 90%;
  height: 3rem;
  background: transparent;
  border: 0px solid transparent;
  border-bottom: 4px solid var(--seaBlue);
  text-align: left;
  padding: 2rem;
  font-size: 1.5rem;
}
.contactMeForm textarea {
  width: 90%;
  height: 15rem;
  background: transparent;
  border: 0px solid transparent;
  border-bottom: 4px solid var(--seaBlue);
  text-align: left;
  justify-content: center;
  padding: 2rem;
  font-size: 1.5rem;
}
.contactMeForm .seaButton {
  width: 10rem;
  position: absolute;
  z-index: 16;
  bottom: -10rem;
}

.contactUsButton {
  width: 15rem;
  outline: 4px solid var(--seaRed);
  background: var(--white);
  color: var(--seaRed);
  font-size: 0.9rem;
  position: absolute;
  top: calc(50% - 1rem);
  z-index: 15;
}

/* // Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) {
  .contactDarkWaves {
    width: 10rem;
    left: 30rem;
    bottom: 37rem;
  }
}

/* // Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
  .sectionFiveContent {
    width: 22rem;
    height: 20rem;
    top: 0rem;
    left: 2rem;
    background: transparent;
  }
  .fiveDarkWaves {
    width: 20rem;
    right: -2rem;
    top: 2rem;
  }
  .circlePosition {
    left: calc(50% - 10rem);
    bottom: -20rem;
  }
  .circleVideoVector {
    animation: circleVideoVectorAnimationMedium var(--standardAnimationTime) ease-in;
    animation-fill-mode: forwards;
  }

  .contactMeForm {
    height: 18rem;
    bottom: 10rem;
  }
  .contactMeForm textarea {
    height: 18rem;
  }
  .contactMeForm .seaButton {
    bottom: -7rem;
  }
  .contactDarkWaves {
    width: 20rem;
    left: 30rem;
    top: 2rem;
  }
}

/* // Large devices (desktops, 992px and up)  */
@media (min-width: 992px) {
  .sectionFiveContent {
    width: 27%;
    height: 40%;
    top: calc(50% - 27%);
    left: calc(50% - 43%);
    letter-spacing: 0.1rem;
    justify-content: flex-start;
  }
  .sectionFiveContent p {
    position: absolute;
    bottom: 0;
  }

  .circlePosition {
    left: calc(50% - 4rem);
    bottom: -25rem;
  }
  .circleVideoVector {
    animation: circleVideoVectorAnimation var(--standardAnimationTime) ease-in;
    animation-fill-mode: forwards;
  }
  .toTop {
    opacity: 1;
  }

  .fiveDarkWaves {
    width: 25rem;
    right: -2rem;
    top: calc(50% - 2rem);
  }

  .contactMeForm {
    width: 40rem;
    height: 25rem;
    bottom: calc(50% - 8rem);
    left: calc(50% - 16rem);
  }

  .contactMeForm .seaButton {
    bottom: -10rem;
  }
  .contactDarkWaves {
    width: 15rem;
    left: -0.8rem;
    top: calc(50% + 12rem);
  }
  .contactLightWaves {
    width: 28rem;
    right: 3rem;
    bottom: calc(50% - 7rem);
  }
}

/* // XX-Large devices (larger desktops, 1400px and up)  */
@media (min-width: 2000px) {
  .fiveDarkWaves {
    width: 50rem;
    right: -10rem;
    top: calc(50% - 20rem);
  }

  .contactMeForm {
    width: 70rem;
    height: 35rem;
    bottom: calc(50% - 12rem);
    /* left: calc(50% - 16rem); */
  }

  .contactDarkWaves {
    width: 35rem;
    left: -0.8rem;
    top: calc(50% + 18rem);
  }
  .contactLightWaves {
    width: 58rem;
    right: -2rem;
    bottom: calc(50% - 14rem);
  }
}

@keyframes circleVideoVectorAnimationMobile {
  0% {
    transform: scale(0) translateY(-10%);
  }
  100% {
    transform: scale(100%) translateY(0%);
  }
}

@keyframes circleVideoVectorAnimationMedium {
  0% {
    transform: scale(0) translateY(-10%);
  }
  100% {
    transform: scale(150%) translateY(0%);
  }
}

@keyframes circleVideoVectorAnimation {
  0% {
    transform: scale(0) translateY(-10%);
  }
  100% {
    transform: scale(160%) translateY(0%);
  }
}