/* this equalizes all content */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: linear-gradient(to bottom, var(--backgroundColor) 25%, transparent),radial-gradient(ellipse at bottom right,#151e64, #050a32 15%, #000013 40%);
   /* background-size: 300% 300%;
  animation: gradient 15s ease infinite; */
}


:root {

  --backgroundColor:#000013;
  --logoColor: #887850;

  
  --white: #fff;
  --seaWhiteTransp: rgba(255, 255, 255, 0.774);

  --black: #000;
  --blackTransp:rgba(0, 0, 0, 0.26);
  --heroBlackTransp:rgba(0, 0, 0, 0.109);
  --seaBlackTransp: rgba(0, 0, 0, 0.589);

  --seaBlue: #0f1a43;
  --seaLightBlue: #5d7fd6;
  --seaPaleBlue:#DFEDF3;

  --seaGreen: #ae9861;
  --seaOrange: #dd5700;

  --seaRed: #e20953;
  --seaPaleRed: #e20953;


  /* >>>>>> SEA ANIMATION TIMES <<<<<<<<<< */
  --coverAnimationTime: 2.5s;
  --coverAnimationTimeExtended: 3s;
  --standardAnimationTime:1s;
  --standardRingAnimationTime:1.5s;
  --firstDelayGroup: calc(var(--standardAnimationTime) - 0.5s);
  --secondDelayGroup: var(--standardAnimationTime);
  --thirdDelayGroup: calc(var(--standardAnimationTime) + 1s);
}


/* >>>>>>>>>>> ANIMATIONS <<<<<<<<<<<<< */
@keyframes onLoad {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes onLoadCover {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
