/* this equalizes all content */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --backgroundColor:#000013;
  --logoColor: #0a135f;
  --midnightBlue: #0a135f;
  --columbiaBlue: #C7E8F3;
  --wisteria: #BF9ACA;
  --darkGreen: #002A22;
  --inchworm: #CAFF8A;

  
  --white: rgb(216, 212, 212);
  --seaWhiteTransp: rgba(255, 255, 255, 0.774);

  --black: #000;
  --blackTransp:rgba(0, 0, 0, 0.26);
  --heroBlackTransp:rgba(0, 0, 0, 0.109);
  --seaBlackTransp: rgba(0, 0, 0, 0.589);

  --seaBlue: #0f1a43;
  --seaLightBlue: #5d7fd6;
  --seaPaleBlue:#DFEDF3;

  --seaGreen: #ae9861;
  --seaOrange: #dd5700;

  --seaRed: #e20953;
  --seaPaleRed: #e20953;


  /* >>>>>> SEA ANIMATION TIMES <<<<<<<<<< */
  --coverAnimationTime: 2.5s;
  --coverAnimationTimeExtended: 3s;
  --standardAnimationTime:1s;
  --standardRingAnimationTime:1.5s;
  --firstDelayGroup: calc(var(--standardAnimationTime) - 0.5s);
  --secondDelayGroup: var(--standardAnimationTime);
  --thirdDelayGroup: calc(var(--standardAnimationTime) + 1s);
}


/* >>>>>>>>>>> ANIMATIONS <<<<<<<<<<<<< */
@keyframes onLoad {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes onLoadCover {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: var(--wisteria);
  font-family: sans-serif;
  /* background: linear-gradient(to bottom, rgb(168, 100, 181) 45%, transparent); */
}
