
/* >>>>>>>>>>>>>>>>>> for Java Script <<<<<<<<<<<<<<<< */
.seaActive {
  width: 100vw !important;
  opacity: 1;
}

.seaInactive {
  width: 0 !important;
  opacity: 0;
}

/* >>>>>>>>>>>>>>>>>> Global Sections <<<<<<<<<<<<<<<<<<<<< */
#SvgPathOnScrollWrapper {
  position: relative;
  min-height: 500vh;
  margin: 0;
  background: var(--white);
  overflow: hidden;
}

#SvgPathOnScrollWrapper section {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* >>>>>>>>>>>>>>>>>>>>  FONTS <<<<<<<<<<<<<<<<<< */

#SvgPathOnScrollWrapper h2 {
  color: #0f1a43;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Times New Roman', serif;
}

#SvgPathOnScrollWrapper h3 {
  position: absolute;
  z-index: 15;
  bottom: 3rem;
  color: var(--seaBlue);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  animation: onLoad 2s ease-in-out;
  animation-delay: var(--thirdDelayGroup);
  animation-fill-mode: forwards;
  opacity: 0;
}

.whiteIndicator {
  color: var(--white) !important;
}

#SvgPathOnScrollWrapper h5 {
  color: var(--black);
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}

#SvgPathOnScrollWrapper p {
  color: var(--seaBlue);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  font-family: 'Montserrat', sans-serif;
}

.copyRight {
  margin-bottom: 0.5rem;
}

/* >>>>>>>>>>>>> LINE SVG <<<<<<<<<<<<< */
.lineContainer {
  height: 79.5%;
  position: absolute;
  top: 56.9vh;
  left: -3%;
  text-align: center;
  overflow: hidden;
  z-index: 12;
}

.lineContainer svg {
  display: inline-block;
  height: 100%;
}

.lineContainer svg path {
  stroke: var(--seaRed);
  stroke-width: 3;
}

/*>>>>>>>>>>>>>>>>>>>>> BUTTON <<<<<<<<<<<<<<<< */

.seaButton {
  width: 12rem;
  height: 3rem;
  border-radius: 35px;
  outline: 4px solid var(--seaBlue);
  color: var(--seaBlue);
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  z-index: 100;
}

.seaButton:hover {
  outline: 4px solid var(--seaLightBlue);
  color: var(--seaLightBlue);
}

/*  >>>>>>>>>>>>>>>>>  FOOTER <<<<<<<<<<<<<< */
.seaFloor {
  width: 100%;
  height: 4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: var(--seaBlue);
}
.seaFloor p {
  color: var(--white) !important;
}

.seaFloorLinks {
  width: 100%;
  height: 5rem;
}

/* // Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) {
  .lineContainer {
    height: 79.7%;
    width: 100%;
    left: -4%;
  }
}

/* // Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
  .lineContainer {
    height: 79.7%;
    width: 100%;
    left: -2%;
  }
}

/* // Large devices (desktops, 992px and up)  */
@media (min-width: 992px) {
  #SvgPathOnScrollWrapper {
    position: relative;
    height: 500vh;
  }

  #SvgPathOnScrollWrapper section {
    height: 100vh;
  }
  .lineContainer {
    height: 79%;
    left: -1%;
  }

  #SvgPathOnScrollWrapper h2 {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  #SvgPathOnScrollWrapper p {
    font-size: .9rem;
    font-weight: 330;
    line-height: 1.7rem;
  }
}

@media (min-width: 2000px) {
  #SvgPathOnScrollWrapper h2 {
    font-size: 3.4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    line-height: 4.8rem;
    margin-bottom: 1rem;
  }
  #SvgPathOnScrollWrapper p {
    font-size: 2rem;
    font-weight: 330;
    line-height: 3.4rem;
  }
}
/* // X-Large devices (large desktops, 1200px and up)  */
/* @media (min-width: 1200px) { ... }  */

/* // XX-Large devices (larger desktops, 1400px and up)  */
/* @media (min-width: 1400px) { ... }  */

